{% load static %}


<style>
  .hello-msg{
    font-size:18px;
    color:white;
    margin-right: 20px;

  }
</style>

<nav class="navbar  navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}"><h1>CRM</h1></a>

    <ul class="navbar-nav mr-auto">
      
      {% if is_admin %}
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'products' %}">Products</a>
      </li>

      

      {% else %}
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'account_settings' %}">Settings</a>
      </li>

      {% endif %}
    </ul>
    
  </div>
  <span class="navbar-text">
    <p class="hello-msg">Hello, {{request.user}}  </p>
    <a class="hello-msg" href="{% url 'logout' %}">Logout</a>
  </span>
</nav>

  